*{
         margin: 0;
         padding: 0;
}
.container{
         width: 1000px;
         height: 600px;
         margin: 0 auto;
         background: orange;
}
.mid{
         width: 900px;
         height: 100%;
         margin: 0 auto;
/*         background: lime;*/
}
.row-1{
         width: 50%;
         float: left;
/*         background: red;*/
         height: 100%;
}
.roe-1-1{
         width: 20%;
         float: left;
/*         background: navy;*/
         height: 100%;
}
.roe-1-2{
         width: 80%;
         float: left;
/*         background: #7c3b46;*/
         height: 100%;
}
.row-2{
         width: 50%;
         float: left;
/*         background: navy;*/
         height: 100%;
}
.row-2-1{
         width: 20%;
         float: left;
/*         background: pink;*/
         height: 100%;
}
.row-2-2{
         width: 80%;
         float: left;
/*         background: #53484a;*/
         height: 100%;
}
.roe-1-1 img{
         height: 67px;
}
.roe-1-2 h3{
         color: navy;
         margin-top: 12px;
}
.roe-1-2 p{
         color: aliceblue;
}
.row-2-1 img{
         height: 67px;
}
.row-2-2 h3{
         color: navy;
         margin-top: 12px;
}
.row-2-2 p{
         color: aliceblue;
}
.row-2-2 p:hover{
         color: firebrick;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}